    

        
            <footer class="footer-clean">
                <div class="container">
                    <div class="row ">
                        <div class="col-sm-4  item">
                            <h3>Contact</h3>
                            <ul>
                                <li><a href="#">ak652231@gmail.com</a></li>
                                <li><a href="#">+91 7506565030</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-sm-4  item">
                            <h3>Address</h3>
                            <ul>
                                
                                <li><a href="#">2409,24th floor,<br>BDD chawl,Worli,<br>Mumbai-400018</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-sm-4  item">
                            <h3>Company</h3>
                            <ul>
                                <li><a href="#">All Star Fitness</a></li>
                                
                            </ul>
                        </div>
                        <div class="item social"><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i><a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <p class="copyright">Company Name © 2018</p>
                        </div>
                    </div>
                </div>
            </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
          
</body>

</html>
